# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

parameters:
  control_plane_name:                  ""
  library:                             ""
  sap_system:                          ""
  workload_zone_name:                  ""
  workload_zone:                       ""
  cleanup_workload_zone:               false
  cleanup_control_plane:               false
  connection_name:                     ""

variables:
  - group:                             "SDAF-General"

  - group:                             SDAF-${{ parameters.control_plane_name }}

  - group:                             SDAF-${{ parameters.workload_zone_name }}

  - name:                              parent_variable_group
    value:                             SDAF-${{ parameters.control_plane_name }}

  - name:                              variable_group
    value:                             SDAF-${{ parameters.workload_zone_name }}

  - name:                              workload_zone_foldername
    value:                             ${{ parameters.workload_zone }}-INFRASTRUCTURE

  - name:                              workload_zone_config
    value:                             ${{ parameters.workload_zone }}-INFRASTRUCTURE.tfvars

  - name:                              sap_system_foldername
    value:                             ${{ parameters.sap_system }}

  - name:                              sap_system_config
    value:                             ${{ parameters.sap_system }}.tfvars

  - name:                              library_foldername
    value:                             $[format('{0}-{1}-SAP_LIBRARY', split('${{ parameters.control_plane_name }}', '-')[0], split('${{ parameters.control_plane_name }}', '-')[1])]

  - name:                              library_config
    value:                             $[format('{0}-{1}-SAP_LIBRARY.tfvars', split('${{ parameters.control_plane_name }}', '-')[0], split('${{ parameters.control_plane_name }}', '-')[1])]

  - name:                              deployer_foldername
    value:                             $[format('{0}-INFRASTRUCTURE', '${{ parameters.control_plane_name }}')]

  - name:                              deployer_config
    value:                             $[format('{0}-INFRASTRUCTURE.tfvars', '${{ parameters.control_plane_name }}')]
