# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
# /*---------------------------------------------------------------------------8
# |                                                                            |
# |               This pipeline downloads the SAP software                     |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
parameters:
  - name:                              bom_base_name
    displayName:                       Name of Bill of Materials (BoM)
    type:                              string

  - name:                              control_plane_name
    displayName:                       "Control Plane Name, use the following syntax: ENV-LOCA-VNET"
    type:                              string

  - name:                              re_download
    displayName:                       Re-download software from SAP
    type:                              boolean
    default:                           false

  - name:                              sap_automation_repo_path
    displayName:                       The local path on the agent where the sap_automation repo can be found
    type:                              string

  - name:                              config_repo_path
    displayName:                       The local path on the agent where the config repo can be found
    type:                              string

  - name:                              sample_repo_path
    displayName:                       The local path on the agent where the config repo can be found
    type:                              string

  - name:                              ExtraParams
    displayName:                       Extra parameters to pass to Ansible
    type:                              string

stages:
  - stage: Prepare_download
    condition: and(not(failed()), not(canceled()))
    variables:
      - template:                      variables/04-sap-software-download-variables.yaml
        parameters:
          bom_base_name:               ${{ parameters.bom_base_name }}
          control_plane_name:          ${{ parameters.control_plane_name }}
          re_download:                 ${{ parameters.re_download }}
    displayName:                       Preparation
    jobs:
      - job: Prepare_download_job
        displayName:                   Preparation
        workspace:
          clean:                       all
        steps:
          - template:                  templates\download_samples.yaml
          - task:                      PostBuildCleanup@4
          - task:                      Bash@3
            inputs:
              targetType:              'filePath'
              filePath:                "$(System.DefaultWorkingDirectory)/sap-automation/deploy/scripts/pipeline_scripts/00-validate-credentials.sh"
              failOnStderr:            false
              workingDirectory:        "$(System.DefaultWorkingDirectory)"
            env:
              AZURE_DEVOPS_EXT_PAT:       $(System.AccessToken)
              CHECK_ARM_CLIENT_ID:        $(ARM_CLIENT_ID),
              CHECK_ARM_CLIENT_SECRET:    $(ARM_CLIENT_SECRET)
              CHECK_ARM_OBJECT_ID:        $(ARM_OBJECT_ID)
              CHECK_ARM_SUBSCRIPTION_ID:  $(ARM_SUBSCRIPTION_ID)
              CHECK_ARM_TENANT_ID:        $(ARM_TENANT_ID)
              ZONE:                       ${{ upper(parameters.control_plane_name) }}
            name:                      ParameterValidation
            displayName:               Parameter Validation
          - task:                      Bash@3
            inputs:
              targetType:              'filePath'
              filePath:                "$(System.DefaultWorkingDirectory)/sap-automation/deploy/scripts/pipeline_scripts/04-sap-software-download-prepare.sh"
              failOnStderr:            false
              workingDirectory:        "$(System.DefaultWorkingDirectory)"
            displayName:               Prepare download
            name:                      Preparation
            env:
              ARM_CLIENT_ID:            $(ParameterValidation.ARM_CLIENT_ID)
              ARM_CLIENT_SECRET:        $(ParameterValidation.ARM_CLIENT_SECRET)
              ARM_SUBSCRIPTION_ID:      $(ParameterValidation.ARM_SUBSCRIPTION_ID)
              ARM_TENANT_ID:            $(ParameterValidation.ARM_TENANT_ID)
              CONTROL_PLANE_NAME:       ${{ parameters.control_plane_name }}
              CONFIG_REPO_PATH:         ${{ parameters.config_repo_path }}/$(Deployment_Configuration_Path)
              SAMPLE_REPO_PATH:         ${{ parameters.sample_repo_path }}
              SAP_AUTOMATION_REPO_PATH: ${{ parameters.sap_automation_repo_path }}
              SPASSWORD:                $(S-Password)
              SUSERNAME:                $(S-Username)
              SYSTEM_ACCESSTOKEN:       $(System.AccessToken)
              USE_MSI:                  $(Use_MSI)

  - stage:                             Software_download
    variables:
      - template:                      variables/04-sap-software-download-variables.yaml
        parameters:
          bom_base_name:               ${{ parameters.bom_base_name }}
          control_plane_name:          ${{ parameters.control_plane_name }}
          re_download:                 ${{ parameters.re_download }}
    displayName:                       Download software

    jobs:
      - job:                           Software_download
        displayName:                   Download software
        variables:
          BOM_NAME:                    $[ stageDependencies.Prepare_download.Prepare_download_job.outputs['Preparation.BOM_NAME'] ]
          KV_NAME:                     $[ stageDependencies.Prepare_download.Prepare_download_job.outputs['Preparation.KV_NAME'] ]
          SUSERNAME:                   $[ stageDependencies.Prepare_download.Prepare_download_job.outputs['Preparation.SUSERNAME'] ]
        timeoutInMinutes:              0
        steps:
          - template:                  templates\download_samples.yaml
          - task:                      PostBuildCleanup@4
          - task:                      Bash@3
            name:                      ParameterValidation
            displayName:               Parameter Validation
            inputs:
              targetType:              'filePath'
              filePath:                "$(System.DefaultWorkingDirectory)/sap-automation/deploy/scripts/pipeline_scripts/00-validate-credentials.sh"
              failOnStderr:            false
              workingDirectory:        "$(System.DefaultWorkingDirectory)"
            env:
              CHECK_ARM_SUBSCRIPTION_ID:  $(ARM_SUBSCRIPTION_ID)
              CHECK_ARM_CLIENT_ID:        $(ARM_CLIENT_ID),
              CHECK_ARM_CLIENT_SECRET:    $(ARM_CLIENT_SECRET)
              CHECK_ARM_TENANT_ID:        $(ARM_TENANT_ID)
              CHECK_ARM_OBJECT_ID:        $(ARM_OBJECT_ID)
              ZONE:                       ${{ upper(parameters.control_plane_name) }}
          - task:                      Bash@3
            inputs:
              targetType:              'filePath'
              filePath:                "$(System.DefaultWorkingDirectory)/sap-automation/deploy/scripts/pipeline_scripts/04-sap-software-download.sh"
              failOnStderr:            false
              workingDirectory:        "$(System.DefaultWorkingDirectory)"
            displayName:               Download
            name:                      download
            env:
              ARM_CLIENT_ID:            $(ParameterValidation.ARM_CLIENT_ID)
              ARM_CLIENT_SECRET:        $(ParameterValidation.ARM_CLIENT_SECRET)
              ARM_SUBSCRIPTION_ID:      $(ParameterValidation.ARM_SUBSCRIPTION_ID)
              ARM_TENANT_ID:            $(ParameterValidation.ARM_TENANT_ID)
              SAP_AUTOMATION_REPO_PATH: ${{ parameters.sap_automation_repo_path }}
              CONTROL_PLANE_NAME:       ${{ parameters.control_plane_name }}
              SAMPLE_REPO_PATH:         ${{ parameters.sample_repo_path }}
              CONFIG_REPO_PATH:         ${{ parameters.config_repo_path }}/$(Deployment_Configuration_Path)
              ANSIBLE_COLLECTIONS_PATH: ~/.ansible/collections:/opt/ansible/collections
              USE_MSI:                  $(Use_MSI)
              EXTRA_PARAMETERS:         ${{ parameters.ExtraParams }}
              AGENT_TEMP_DIRECTORY:     $(Agent.TempDirectory)
